{% include 'partials/header.html' %}
        <section class="main clearfix">
            <div class="wrapper">
                <div class="teasers">
                    {% include 'partials/list_posts.html' %}
                </div> <!-- /.teasers -->

                <aside class="widget archives">
                    <h2 class="widget__heading">Archives</h2>
                    <nav>
                        <ul>
                            <li><a href="">Article 1</a></li>
                            <li><a href="">Article 1</a></li>
                            <li><a href="">Article 1</a></li>
                            <li><a href="">Article 1</a></li>
                            <li><a href="">Article 1</a></li>
                        </ul>
                    </nav>
                </aside>
            </div>
        </section>

{% include 'partials/footer.html' %}