{% include 'partials/header.html' %}
        <section class="main">
            <div class="wrapper">
                <h1>About Me</h1>
                <div class="teasers">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, doloremque nisi sunt ullam minima eos nam unde distinctio dolorem illum temporibus blanditiis animi saepe minus nobis dignissimos voluptas quia perspiciatis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, doloremque nisi sunt ullam minima eos nam unde distinctio dolorem illum temporibus blanditiis animi saepe minus nobis dignissimos voluptas quia perspiciatis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, doloremque nisi sunt ullam minima eos nam unde distinctio dolorem illum temporibus blanditiis animi saepe minus nobis dignissimos voluptas quia perspiciatis.</p>
                </div> <!-- /.teasers -->

                <aside class="widget archives">
                    <h2 class="widget__heading">Contact Me</h2>
                    <p>Email:{{page.email}}</p>
                    <p>G+:plus/google/akini</p>
                    <p>Facebook: facebook.com/akini</p>
                </aside>
            </div>
        </section>

{% include 'partials/footer.html' %}